@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


   
 

:root {
  --bg: #F0E7DB;
  --text: #333;
  --accent: #4F5157;
  --highlight: #1f1f1f;
  --button-bg: #313134;
  --button-text: #ffffff;
  --footer-bg: #313134;
}

body.dark-mode {
  --bg: #202023;
  --text: #D8D8D8;
  --accent: #A9A9AB;
  --highlight: #ffffff;
  --button-bg: #444;
  --button-text: #F0F0F0;
  --footer-bg: #1a1a1a;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  font-weight: bold;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
  color: var(--text);
}

.header .nav-item a {
  text-decoration: none;
  color: var(--text);
}

.button button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* === GIF === */
.gifka {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.gifka img {
    max-width: 30%;
    height: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.text-column {
  max-width: 300px;
}

.my-image {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.content {
  max-width: 700px;
  margin: 30px auto;
  padding: 0 20px;
}

.work {
  font-size: 24px;
  font-weight: bold;
  color: var(--highlight);
  margin-bottom: 10px;
  border-bottom: 2px solid var(--accent);
  padding-bottom: 5px;
}

.description {
  font-size: 16px;
  color: var(--text);
}

.description li {
  margin-bottom: 15px;
}

.bio {
  max-width: 700px;
  margin: 30px auto;
  padding: 0 20px;
}

.bio-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}

.bio-item {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.bio-year {
  font-weight: bold;
  color: var(--accent);
  min-width: 80px;
}

.footer {
  text-align: center;
  background-color: var(--footer-bg);
  color: var(--button-text);
  padding: 10px;
  font-size: 14px;
  margin-top: 40px;
}

.my-profile-button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
